{% extends 'main.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/form.css"/>
{% endblock %}
{% block body %}
    <div class="col-9">
        <form id="loginForm" action="{{url_for('sign_in_process', _external=True)}}" method="POST" enctype='multipart/form-data'>
            <ul>
                <li>Logowanie użytkownika</li>
                {% for mesg in get_flashed_messages() %}
                <li class="flashMessage">{{ mesg }}</li>
                {% endfor %}
                <li><input type="text" name="login" id="usernameField" placeholder="Nazwa użytkownika" class="formInputWhite"/></li>
                <li><input type="password" name="password" id="passwordField" placeholder="Hasło" class="formInputWhite"/></li>
                {% if is_captcha_needed %}
                <li>{{ recaptcha }}</li>
                {% endif %}
                <li><input type="submit" id="submitButton" name="submit" value="Zaloguj się"/></li>
            </ul>
        </form>
        <form id="forgotPw" action="{{url_for('forgot_pw_request', _external=True)}}" method="POST" enctype='multipart/form-data'>
            <ul>
                <li>Odzyskiwanie dostępu do konta:</li>
                <li><input type="text" name="login" id="usernameField" placeholder="Nazwa użytkownika" class="formInputWhite"/></li>
                <li><input type="date" value="1944-10-23" id="dateField" name="date"/></li>
                <li><input type="submit" value="Zapomniałem hasła :("/></li>
            </ul>
        </form>
    </div>
{% endblock %}
