<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{url_for('index', _external=True)}}">
    <title>Nie wiem</title>
    {% block head %}{% endblock%}
</head>
<body>
    <header class="row">
        <div class="col-3" id="logoBox">
            <picture>
                <!--img src="{{url_for('static', filename='images/logo.svg')}}"-->
            </picture>
        </div>
        <div class="col-9">
            <div id="companyName">Nie wiem, notatki jakieś na kiju (bezpieczne!)</div>
            <div id="nameplate">Dawid Rawski</div>
        </div>
    </header>
    <div class="row">
        <div class="col-3">
            <div>{{user_info() | safe}}</div>
            <nav id="navbar">
                <li><a href="{{url_for('index')}}" id="homepageNav">Strona główna</a></li>
                {% if not user_logged_in() %}
                <li><a href="{{url_for('sign_in')}}" id="loginNav">Logowanie</a></li>
                <li><a href="{{url_for('sign_up')}}" id="signupNav">Rejestracja</a></li>
                {% else %}
                <li><a href="{{url_for('panel')}}" id="panelNav">Panel</a></li>
                <li><a href="{{url_for('logout')}}" id="logoutNav">Wyloguj się</a></li>
                {% endif %}
            </nav>
        </div>
    {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="moreImportantFooterPart">2020 | <a href="https://github.com/Ainheg/OchronaDanychProjekt"> Repozytorium </a></div>
    </footer>
</body>