{% extends 'main.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/form.css"/>
    <script src="{{url_for('static', filename='change.js')}}"></script>
{% endblock %}
{% block body %}
        <form class="col-9" id="registerForm" action="{{url_for('password_change_process', _external=True)}}" method="POST" enctype='multipart/form-data'>
            <ul id="formList">
                <li>Formularz zmiany hasła:</li>
                {% for mesg in get_flashed_messages() %}
                <li class="flashMessage">{{ mesg }}</li>
                {% endfor %}
                <li><input type="password" name="oldPassword" id="oldPasswordField" placeholder="Stare hasło" class="formInputWhite"/></li>
                <li><input type="password" name="password" id="passwordField" placeholder="Nowe hasło" class="formInputWhite"/></li>
                <li><input type="password" name="repeatPassword" id="repeatPasswordField" placeholder="Powtórz nowe hasło" class="formInputWhite"/></li>
                <li><input type="submit" id="submitButton" name="submit" value="Zmień hasło"/></li>
            </ul>
        </form>
{% endblock %}
