{% extends 'main.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/form.css"/>
    <script src="{{url_for('static', filename='register.js')}}"></script>
{% endblock %}
{% block body %}
        <form class="col-9" id="registerForm" action="{{url_for('sign_up_process', _external=True)}}" method="POST" enctype='multipart/form-data'>
            <ul id="formList">
                <li>Formularz rejestracji użytkownika:</li>
                {% for mesg in get_flashed_messages() %}
                <li class="flashMessage">{{ mesg }}</li>
                {% endfor %}
                <li><input type="text" name="login" id="usernameField" placeholder="Nazwa użytkownika" class="formInputWhite"/></li>
                <li><input type="email" name="email" id="emailField" placeholder="Adres e-mail" class="formInputWhite"/></li>
                <li><input type="date" value="1942-11-08" id="dateField" name="date"/></li>
                <select  name="q1" id="q1Field" class="formInputWhite">
                    {% for k, v in safe_questions.items() %}
                    <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                </select>
                <li><input type="text" name="a1" id="a1Field" placeholder="Odpowiedź na pytanie 1" class="formInputWhite"/></li>
                <select  name="q2" id="q2Field" class="formInputWhite">
                    {% for k, v in safe_questions.items() %}
                    <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                </select>
                <li><input type="text" name="a2" id="a2Field" placeholder="Odpowiedź na pytanie 2" class="formInputWhite"/></li>
                <li><input type="password" name="password" id="passwordField" placeholder="Hasło" class="formInputWhite"/></li>
                <li><input type="password" name="repeatPassword" id="repeatPasswordField" placeholder="Powtórz hasło" class="formInputWhite"/></li>
                <li><input type="submit" id="submitButton" name="submit" value="Zarejestruj się"/></li>
            </ul>
        </form>
{% endblock %}
